.blog-card {
    position: relative;
    opacity: 0.5;
    filter: blur(1px);
    transition: 1s;
    cursor: pointer;
}

.blog-card:hover {
    opacity: 1;
    filter: blur(0);
    transition: 1s;
}

.blog-link {
    display: none;
    position: absolute;
    top: -120px;
    left: 60px;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    filter: blur(1px);
    transition: 0.5s;
}

.blog-card:hover .blog-link {
    display: block;
    border: 1px solid #f3d8d3;
    background-color: #f3d8d3;
}

.blog-card .blog-link:hover {
    background-color: #e67b5d;
    border: 1px solid #e67b5d;
    filter: blur(0);
}