.some-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.some-image {
    margin: 0 auto;
    padding: 25px;
}

.some-paragraf1 {
    font-size: 18px;
    margin: 0;
}

.some-paragraf2 {
    padding: 25px;
    font-size: 48px;
}