.chose-plan {
  min-height: 385px;
  background-color: #171f23;
  color: #fff;
  padding: 60px 0 0 0;
  text-align: center;
}

.chose-plan-title-h1 {
  font-family: 'Roboto';
  font-size: 36px;
  letter-spacing: 0.4rem;
}

.chose-plan-title-block {
  width: 150px;
  height: 30px;
  border-top: 1px solid red;
  margin: -5px auto 0 auto;
}
