.square {
  background-color: #e84c3d;
}

.square-row {
  height: 175px;
}

.square-block {
  border: 0.25px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #e84c3d;
  padding: 30px;
  -webkit-transition: 2s;
  transition: 2s;
}

.square-block:hover {
  background-color: #ad291d;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}
